/* Uncomment to se the borders*/
/*
* {
  border: 1px solid red;
}
*/

body {
  background-image: url("https://images.unsplash.com/photo-1504756946756-3324161570ad?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=226aa4c033c9131d05280c2c89c2a615&auto=format&fit=crop&w=1350&q=80");
  background-position: center;
  background-size: cover;
}

.cardName button {
  margin: 1% 1%;
}

.cardGroup {
  margin: 1% 0%;
}

/*
Footer
*/
html,
body,
#root {
  height: 100%;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container-header-main {
  flex: 1 0 auto;
}

footer {
  background-color: rgb(50, 109, 219);
  padding: 1%;
}

/* Other */
.col a {
  text-decoration: none;
  color: white !important;
  outline: none;
}

.post-detailed {
  margin: 1% 0%;
}
