body {
  background-image: url("https://images.unsplash.com/photo-1504756946756-3324161570ad?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=226aa4c033c9131d05280c2c89c2a615&auto=format&fit=crop&w=1350&q=80");
  background-position: center;
  background-size: cover;
}

body,
wrapper {
  min-height: 100vh;
}

.flex-fill {
  flex: 1 1 auto;
}

footer {
  background-color: aquamarine;
  padding: 1%;
}
